<div
  class="grid h-auto p-3 bg-white gap-2 rounded-sm text-xs hover:shadow-lg shadow-md cursor-pointer"
>
  <div
    class="rounded-sm border shadow-md h-40 bg-[url(server/uploads/articles/##image##)] bg-center bg-cover"
  ></div>
  <div class="text-left grid grid-cols-2 gap-0">
    <!-- <div class="md:flex justify-between items-center"> -->
    <span class="uppercase font-bold"> ##title## </span>
    <span class="primary"> Etat: ##state## </span>
    <!-- </div> -->

    <!-- <div class="state flex justify-between center"> -->
    <span class=""> Prix : ##price##$ / ##unite## </span>
    <span class="">Investir : ##prix_investissement##$</span>
    <!-- </div> -->
    <!-- <div class="flex justify-between"> -->
    <span
      class="col-span-2 bg-gray-300 border p-2 text-center mt-2 rounded-sm shadow-sm"
      >Investir dans cet article vous rapportera un interet de ##rate_return##$
      chaque ##nb_day_return## Jours pendant 1 an</span
    >
    <!-- </div> -->
  </div>
  <div class="flex justify-evenly gap-2">
    <button
      onclick="com('##title##','##price##','##state##','##id##')"
      class="bg-green-500 text-center px-2 py-1 shadow-md uppercase rounded-sm w-full hover:bg-gray-800 hover:text-white"
    >
      Acheter
    </button>
    <button
      class="bg-yellow-400 text-center px-2 py-1 shadow-md uppercase rounded-sm w-full hover:bg-gray-800 hover:text-white"
      onclick="profile()"
    >
      Investir
    </button>
  </div>
</div>
