<div class="bg-blue-##state##00 border  justify-between rounded-md text-sm">
    <div class=" grid p-1 pl-3 text-center">
        <span class="text-xs">##-nb-#. ##creation##</span>
        <span class="font-bold">##titre##</span>
        <span class="text-xs">Du ##debut## au ##fin##</span>
    </div>
    
    <!-- <div class="grid gap-1 bg-gray-800 text-white flex justify-center items-center p-2 rounded-md">
        <svg onclick='lacrea_save({"state":"2"},"inscription_formation-update=##id##",{"success":"Inscription invalidée avec succes","fail":"Echec "});lacrea_data()' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
        <svg onclick='lacrea_save({"state":"5"},"inscription_formation-update=##id##",{"success":"Inscription validée avec succes","fail":"Echec "});lacrea_data()' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </div>     -->
</div>