.products{
    padding-bottom: 10vh;
    text-align: center;
     margin: auto 5% 10vh 5%;
}
.products>div{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2%;
    justify-content: center;
    align-items: stretch;
}
@media (max-width: 600px){
    .products{
        padding-bottom: 10vh;
        text-align: center;
         margin: auto;
    }
    .products>div{
        display: grid;
        grid-template-columns: 90%;
        gap: 2%;
        justify-content: center;
        align-items: stretch;
    }
}