.user{
    display: grid;
    grid-template-columns: 20% 75%;
    height: 85vh;
    /*align-items: start;*/
    background: white;
    color: var(--secondary);
    /*border-top: solid white 15px;*/
    /*width: 100%;*/
    }
.user>.infos{
display: grid;
grid-template-rows: 15% 80% 5%;
/*border-left: solid 1px var(--primary);*/
border-right: solid 1px var(--primary);
padding: 15px;
align-items: start;
/*height: 85vh;*/
/*background: var(--secondary);*/
/*color: white;*/
}
.user>.infos>.head{
/*padding-top: 10%;*/
display: grid;
/*grid-template-rows: 50% auto;*/
grid-template-columns: 20% auto;
align-items: center;
justify-content: left;
font-size: small;
gap: 5%;

}
.head>div{
display: grid;
border-radius: 10px;
/*color: var(--secondary);*/
/*background: var(--white);*/
}
.head>img{
width: 100%;
height: auto;
}
.user>.app{

overflow-y: auto;
/*border-left: solid var(--primary) 1px;*/
/*background: var(--white);*/
}
.menu-profil{
align-items: start;
height: 0;
gap: 0px;
/*padding: 0 10px;*/
}
.menu-profil>div{
gap: 5px;
}
.menu-profil>div>span{

border: solid 1px var(--primary);
cursor: pointer;
}
.menu-profil>div>span:hover{
/*border: solid var(--primary) 1px;*/
background: white;
color: var(--secondary);
}

#dashboard>div{
display: grid;
grid-template-columns: auto auto auto;
gap: 5%;
}
#dashboard>div>div{
padding: 15px;
background: var(--primary);
color: white;
text-align: center;
border-radius: 5px;
display: grid;
align-items: center;
justify-content: center;
}
.app{
padding: 5%;
}
.app>div{
display: none;
}
.current_app{
background: white;
color: var(--secondary);
}

.menu-profil-mobile{
    display: grid;
}
.user>.infos>.head>svg{
    display: none;
}

@media (max-width: 600px){ 
    .user{
        display: grid;
        grid-template-columns: auto;
        height: auto;
        justify-content: start;
        align-items: start;
        /*align-items: start;*/
        background: white;
        color: var(--secondary);
        /*border-top: solid white 15px;*/
        /*width: 100%;*/
    }   
    .user>.infos{
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-rows: auto;
        border-right: none;
        padding: 15px;
        height: auto;
        gap: 5px;
    }
    .menu-profil-mobile{
        display: grid;
    }
    .user>.infos>.head>svg{
        display: flex;
    }
    .user>.infos>.head{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        justify-content: left;
        align-items: center;
        font-size: small;
        gap: 5%; 
        /* background: red; */
    }
    .head>div{
        display: grid;
        border-radius: 10px;
        /*color: var(--secondary);*/
        /*background: var(--white);*/
    }
    .head>img{
        width: 100%;
        height: auto;
    }
    .user>.app{
        overflow: auto;
        width: auto;
        height: 100%;
        min-height: 80vh;
        margin-bottom: 20px;
        /*border-left: solid var(--primary) 1px;*/
        /*background: var(--white);*/
    }
    .user>.app>*{
        height: auto;
    }
    .menu-profil{
        align-items: start;
        height: auto;
        gap: 0px;
        /*padding: 0 10px;*/
    }
    .menu-profil>div{
        gap: 5px;
    }
    .menu-profil>div>span{
    
        border: solid 1px var(--primary);
        cursor: pointer;
    }
    .menu-profil>div>span:hover{
        /*border: solid var(--primary) 1px;*/
        background: white;
        color: var(--secondary);
    }
    
}